<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AuthUrl" value="https://auth.cs-demo0.snpd.io/" />
    <add key="BaseUrl" value="https://api.cs-demo0.snpd.io/" />
    <add key="ClientId" value="2uejQiaUIQpPiNPF_fjMkEue1Uiemed2RObbiLZ_K6Y" />
    <add key="ClientSecret" value="mCAL0513u3jb64YlHvwMC5JbrrisrP4N71h2JgWn5ow" />
    <add key="Scope" value="borrower_activities:index borrowers:index closings:create closings:external_look_up closings:mark_finished_uploading_docs closings:show documents:create documents:index documents:show subscriptions:create subscriptions:destroy subscriptions:index transaction_statuses:index users:index" />
  </appSettings>
</configuration>